:root {
	--light-orange: #f5b111;
	--dark-orange: #ed9909;
	--teal: #1c4b4d;
	--beige: #e7d3a4;
	--gray: #96a2ae;
}

body {
	font-family: 'Aleo', serif;
	background-color: var(--light-orange);
	background-image: url(./images/cicada-pattern.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}

h1 {
	text-transform: lowercase;
	color: var(--teal);
	font-size: 52px;
	line-height: 77px;
	text-align: center;
	letter-spacing: 0.075em;
	text-shadow: -1px -1px 0 #ed9909, 1px -1px 0 #ed9909, -1px 1px 0 #ed9909,
		1px 1px 0 #ed9909;
}

p {
	color: var(--teal);
}

.container {
	background: white;
	border: 5px solid var(--teal);
	box-shadow: 0px 4px 6px rgba(150, 162, 174, 0.7);
	border-radius: 8px;
	width: 65vw;
	height: 65vh;
	margin-top: 10vh;
	display: flex;
	justify-content: center;
}

.content-block {
	border: 2px solid red;
}

.icon {
	width: 30px;
	height: 30px;
}

.cicada-img {
	height: 150px;
	width: auto;
}

.main-text {
	color: var(--dark-orange);
	font-weight: 300;
	font-size: 22px;
	line-height: 31px;
	text-align: center;
}

.text {
	text-align: center;
}
